<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5"><%= 'プロフィール' %></h1>
      <%= link_to '編集', edit_user_path, class: "btn btn-success pull-right" %>
      <table class="table">
        <tr>
          <th scope="row"><%= 'メールアドレス' %></th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th scope="row"><%= '名前' %></th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= '自己紹介' %></th>
          <td><%= current_user.profile %></td>
        </tr>
      </table>
    </div>
    <ul class="col-md-5 offset-md-1">
      <h2 class="float-left mb-5"><%= '投稿した作品' %></h2>
      <div class="scroll-list jscroll">
        <% @novels.each do |novel| %>
          <table class="table">
            <tr>
              <td><%= link_to novel.title, novel_path(novel.id) %></td>
            </tr>
            <tr>
              <td><%= novel.genre %></td>
            </tr>
            <tr>
              <td><%= novel.story_length %></td>
            </tr>
          </table>
        <% end %>
        <%= paginate @novels %>
      </div>
    </ul>
    <ul class="col-md-5 offset-md-1">
      <h2 class="float-left mb-5"><%= '批評した作品' %></h2>
      <div class="scroll-list jscroll">
        <% @reviews.each do |review| %>
          <table class="table">
            <tr>
              <td><%= link_to review.novel.title, novel_path(review.novel.id) %></td>
            </tr>
            <tr>
              <td><%= review.novel.genre %></td>
            </tr>
            <tr>
              <td><%= review.novel.story_length %></td>
            </tr>
          </table>
          <% end %>
        <%= paginate @reviews %>
      </div>
    </ul>
  </div>
</div>
